{% load static %}


<!DOCTYPE html>

<html lang="">

<head>
  <title>EGSTI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">

  <div class="bgded overlay" style="background-image:url('{% static 'images/demo/backgrounds/arfi.png' %}');">
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
          <p>Proyecto integrador - Ingeniería Informática</p>
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear">

          </ul>
        </nav>
      </header>
    </div>

    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
          <h1>
            </a><a href="index.html">ESTRATEGIAS DE GESTIÓN</a> <br> <a href="#">DE SERVICIOS DE TI</a>
          </h1><br>
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear">
            <li><br><a href="http://jaredrojas.pythonanywhere.com/">Inicio</a>
          </ul>
        </nav>
      </header>
    </div>

    <div id="pageintro" class="hoc clear">
      <article>
        <h2 class="heading"> INTEGRANTES</h3><br>

        <p>Cadena García Johan (17TE0075*)</p>
        <p>Ramírez Alvarado Vanessa (19TE0004*)</p>
        <p>Hernández Ruiz Suheidy Nerina (18TE0051*)</p>
        <p>Rodríguez Bonilla Francisco Iván (18TE0133*)</p>
        <p>Rojas Juárez Jared del Rosario (18TE0106*)</p></p>

      </article>

    </div>

  </div>

<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <figure><a class="" href="#"><img src="{% static 'images/demo/administracion.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Importancia de la administración en la unidad informática y su función en Guardería Khamadi</h6>
              <div>
                <p>Este plantel carece de una unidad informática en sus áreas de función, sin embargo, se cuenta con un servicio de mantenimiento externo para el correcto funcionamiento de dos pc de escritorio, una red de video cámaras de vigilancia con 10 unidades y un servicio de telefonía con internet, por lo cual se califica ineficiente ya que dicha persona encargada del mantenimiento solo acude cuando es muy requerido.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/demo/funcion.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">La función informática como ventaja competitiva en las organizaciones</h6>
              <div>
                <p>Una gran deficiencia del área informática de una empresa es que por lo general esta se mantiene aislada de los objetivos de la empresa, y esto evita que casi nunca esta área pueda actuar de manera oportuna. Podemos concluir que la informática es un factor determinante durante el ciclo competitivo de una empresa. La informática se puede aprovechar para casi cualquier área, siempre y cuando se esté preparado para hacerlo</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/demo/ti.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">TI actuales aplicables a la función informática</h6>
              <div>
                <p>En el giro educativo. Cada vez son más las guarderías y escuelas infantiles que utilizan diferentes herramientas TIC en sus actividades diarias con niños de 0 a 5 años, los cuales, a diferencia de sus padres, son nativos digitales.</p>
                <p>En la organización. La tecnología y el uso de plataformas tecnológicas representan una oportunidad estratégica para las áreas infantiles porque ayudan a analizar los datos, permiten comunicación oportuna 24/7, mejoran la gestión de procesos, facilitan el control de labores administrativas y operativas, además de que analizan el cumplimiento de metas y objetivos organizacionales de forma constante, entre otros beneficios.</p>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <hr class="btmspace-80">
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="{% static 'images/demo/general.png' %}" alt=""></div>
      <div class="one_half">
          <p class="heading underline font-x2">TI actuales de hardware</p>
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#">SIAG </a></h6>
              <p class="nospace">El único recurso de gestión de información es el denominado SIAG o Sistema de Información y Administración de Guarderías que opera a nivel nacional este tipo de planteles subrogados por el IMSS, en él se encuentran registrados los niños, sus padres o tutores, así como su nivel de asistencia por día u horario.</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Video vigilancia</a></h6>
              <p class="nospace">existe un sistema de videocámaras de vigilancia que opera las 24 horas, pero este no es muy adaptable al usuario ya que el personal de la guardería no puede hacer uso de él hasta que llegue el técnico porque no les entienden a los menús, así que se genera un gasto extra cada vez que quieren consultar o extraer una grabación con fines de supervisión.</p>
            </article>
          </li>
          <li class="one_half first">
            <article>
              <h6 class="heading"><a href="#">Básico</a></h6>
              <p class="nospace">Además, se usan los procesadores de texto básicos para generar reportes, en resumen, hacer planillas e imprimirlas ya que los siguientes procesos se llevan a mano sobre dichos formatos de registro.</p>
            </article>
          </li>
        </ul>
        </div>
    </section>
    </main body>
    <!-- / main body -->

<div class="wrapper row3">
  <main class="hoc container clear">
<div class="bgded overlay" style="background-image:url('{% static 'images/demo/backgrounds/arfi.png' %}');">
  <figure class="hoc container clear imgroup">

    <ul class="nospace group btmspace-80">
        <li class="one_quarter first">
          <figure><a class="" href="#"><img src="{% static 'images/demo/ti.jpg' %}" alt=""></a>
            <figcaption>
              <br><h6 class="heading">TI actuales de software, datos y comunicaciones</h6> <br>
              <div>
                <p>En Guardería Khamadi es indispensable el manejo adecuado de la información ya que se resguardan datos de menores de edad, entre ellos edad, alergias, expedientes médicos, horarios de jornada de sus padres, avance en el desarrollo de capacidades, números telefónicos, dirección de sus domicilios, entre otros.</p>
                <p>Dichos datos se resguardan en expedientes físicos que manejan los jefes de área únicamente y son físicos, sin respaldo digital.</p>
                <p>Con respecto a las comunicaciones no se tiene un protocolo seguro ni previamente planteado, el personal hace solicitudes sin registro ni orden de solicitud por lo que es común el duplicado de información y reportes.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure><a class="" href="#"><img src="{% static 'images/demo/actuales.png' %}" alt=""></a>
            <figcaption>
              <br><h6 class="heading">TI actuales en los procesos informáticos de Guardería Khamadi</h6><br>
              <div>
                <p>Este plantel no cuenta con procesos informáticos individuales y bien planteados, solo con los ordenados por la supervisión y se llevan a cabo por medio del sistema SIAG. La implementación de procesos informáticos es de vital importancia en este plantel ya que incluso padres de familia tendrían más facilidades administrativas, de gestión, y de obtención de datos.</p>


              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    <!-- ################################################################################################ -->
  </figure>
  <!-- ################################################################################################ -->
  </section>
</div>
<div class="wrapper row3">

<section class="hoc container clear">
      <ul class="nospace group btmspace-80">
    <hr class="btmspace-80">
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="{% static 'images/demo/grande.jpg' %}" alt=""></div>
      <div class="one_half">
          <p class="heading underline font-x2">Liderazgo en el área informática de Guardería Khamady </p>
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#"></a></h6>
              <p class="nospace">El área informática dentro de las empresas ha tomado muchísimo valor por las muchas ventajas que está ofrece por ello es necesario contar con un líder que pueda sacar el máximo provecho de todo lo que rodea a esta área.</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#"></a></h6>
              <p class="nospace">Ser un gran líder no solamente se trata de hacer un buen trabajo. Es necesario balancear las necesidades del equipo con las metas y objetivos de la empresa, por ello se recomienda que para la creación de este departamento se busque un líder del tipo participativo por la capacidad que tiene para hacer que personas que de alta jerarquía en la empresa apoyen al equipo.</p>

            </article>
          </li>
        </ul>
        </div>
    </section>

    <section class="hoc container clear">
      <div class="sectiontitle">
        <p class="nospace font-xs">Estructura de Guardería Khamadi</p>
        <p class="heading underline font-x2">PROPUESTA</p>
      </div>

      <ul class="nospace group team">
        <li class="">
          <figure><a class="" href="#"><img src="{% static 'images/demo/organigramaa.png' %}" alt=""></a>
            <figcaption><strong></strong> <em></em></figcaption>
          </figure>
        </li>
      </ul>

    </section>


    <br><br> <p class="heading underline font-x2">Controles administrativos actuales en Guardería Khamadi del área informática</p><br>
<div class="wrapper row3">
    <div class="clear"></div>
    <ul class="nospace group team">
      <li class="one_quarter first">
        <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png'%}" alt=""></a>
          <figcaption><strong>Controles de preinstalación</strong> <em>Hacen referencia a procesos y actividades previas a la adquisición e instalación de un equipo de computación y obviamente a la automatización de los sistemas existentes.</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png'%}" alt=""></a>
          <figcaption><strong>Controles de procesamiento</strong> <em>Los controles de procesamiento se refieren al ciclo que sigue la información; desde la entrada hasta la salida de la información, lo que conlleva al establecimiento de una serie de seguridades.</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png'%}" alt=""></a>
          <figcaption><strong>Controles de operación</strong> <em>Abarcan todo el ambiente de la operación del equipo central de computación y dispositivos de almacenamiento, la operación de terminales y equipos de comunicación por parte de los usuarios de sistemas on line.</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png'%}" alt=""></a>
          <figcaption><strong>Controles en el uso del microcomputador</strong> <em>Es la tarea más difícil, pues son equipos más vulnerables, de fácil acceso, de fácil explotación, pero los controles que se implanten ayudaran a garantizar la integridad y confidencialidad de la información.</em></figcaption>
        </figure>
      </li>
    </ul>
    </div>



<div class="wrapper row3">
    <section class="hoc container clear">
      <div class="sectiontitle">
        <p class="nospace font-xs">Diseño de Análisis y Diseño de Puestos </p>
        <p class="heading underline font-x2">ADP</p>
      </div>

      <ul class="nospace group team">
        <li class="">
          <figure><a class="" href="#"><img src="{% static 'images/demo/adp.jpg' %}" alt=""></a>
            <figcaption><strong></strong> <em></em></figcaption>
          </figure>
        </li>
      </ul>
      <br><br> <p class="heading underline font-x2">Delimitación de roles y responsabilidades</p><br>
    </div>

        <li class="one_third first">
          <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Encargado del área de informática</h6>
              <div>
                <p>●	Su función principal es la de coordinar y verificar que las personas a su cargo estén realizando las tareas de manera rápida, precisa y eficaz.</p>
                <p>●	Mantener al equipo centrado en los objetivos necesarios para el buen cumplimiento de sus labores.</p>
                <p>●	Promover el trabajo en equipo para tener una máxima eficacia y una rápida respuesta ante situaciones urgentes.</p>

              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Técnico</h6>
              <div>
                <p>●	Ayudar a resolver los problemas en las computadoras y sistemas de la manera más rápida y adecuada.</p>
                <p>●	Aconseja y orienta a los usuarios para sacar el máximo provecho de los equipos y dispositivos.</p>
                <p>●	Realiza la planificación del mantenimiento correctivo de equipamiento periférico, paquetes de programas.</p>

              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Encargado de página web</h6>
              <div>
                <p>●	Crear y probar aplicaciones para sitios web.</p>
                <p>●	Solucionar problemas del sitio web.</p>
                <p>●	Mantener y actualizar el sitio web.</p>
                <p>●	Monitorear el tráfico del sitio web. </p>
                <p>●	Hacer prototipos del sitio web.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third first">
          <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Encargado de red</h6>
              <div>
                <p>●	Trabaja en el diseño y planificación de redes de distintas capacidades.</p>
                <p>●	Realiza la planificación del mantenimiento correctivo de redes de área local.</p>
                <p>●	Identificar cuellos de botella para asegurar una eficiencia a largo plazo de la red</p>
                <p>●	Inspeccionar la infraestructura LAN y reparar problemas y errores grandes y pequeños.</p>

              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Encargado de administración</h6>
              <div>
                <p>●	Representación de una empresa frente al resto de sociedades.
                <p>●	Es responsable del cumplimiento de la ley, tanto de los estatutos como de la actividad general.</p>
                <p>●	Deberá cumplir las siguientes obligaciones legales, como son, las laborales, las penales, las civiles, las mercantiles y las tributarias.</p>
                <p>●	Es el profesional que tiene los conocimientos necesarios para la toma de decisiones</p></p>

              </div>
            </figcaption>
          </figure>
        </li>

        <section class="group"><br> <br> <br><p class="heading underline font-x2">Análisis y Diseño de Procedimientos Operarios</p>
      <div class="one_half">


        <ul class="nospace group inspace-15">

        </ul>
        </div>
      <div class="one_half first"><img class="inspace-15 borderedbox" src="{% static 'images/demo/ado.PNG' %}" alt=""></div>
      <div class="one_half right"><img class="inspace-15 borderedbox" src="{% static 'images/demo/ado1.PNG' %}" alt=""></div>

    </section>
      </ul>

   <hr class="btmspace-80">
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="{% static 'images/demo/general.png' %}" alt=""></div>
      <div class="one_half">
          <p class="heading underline font-x2">Contratación y formación del personal para el área de informática</p>
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#">ESCOLARIDAD</a></h6>
              <p class="nospace">Todos con licenciatura en ingeniería informática o afin, excepto el encargado de mantenimiento quien puede contar solo con carrera tecnica en informática</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#">DISPONIBILIDAD</a></h6>
              <p class="nospace">En el sentido de apoyar a sus compañeros, ser accesible y tener iniciativa </p>
            </article>
          </li>
          <li class="one_half first">
            <article>
              <h6 class="heading"><a href="#">EXPERIENCIA</a></h6>
              <p class="nospace">Preferentemente de un año para todos los cargos ya que es necesario tener buenas referencias debido a que se trata de una institucion de educación inicial</p>
            </article>
          </li>
          <li class="one_half">
            <article>
              <h6 class="heading"><a href="#">HABILIDADES</a></h6>
              <p class="nospace">Responsabilidad, puntualidad, objetividad, actitud, capacidad de trabajar en equipo</p>
            </article>
          </li>
        </ul>
        </div>
    </section>

<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="bgded overlay" style="background-image:url('{% static 'images/demo/backgrounds/arfi.png' %}');">
  <figure class="hoc container clear imgroup">

    <ul class="nospace group btmspace-80">
        <li class="one_quarter first">
          <figure><a class="" href="#"><img src="" alt=""></a>
            <figcaption>
              <br><h6 class="heading"></h6> <br>
              <div>
                <p></p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure><a class="" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a>
            <figcaption>
              <br><h6 class="heading">Tipos de planeaciones de guardería Khamadi</h6><br>
              <div>
                <p>La planeación es un fundamento esencial en cualquier empresa u organización ya que a través de ella se prevén las contingencias y cambios que pueden deparar el futuro. La planeación operacional se concentra a corto plazo y cubre cada una de las tareas u operaciones individuales.</p>


              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    <!-- ################################################################################################ -->
  </figure>
  <!-- ################################################################################################ -->

</div>


<section id="introblocks">
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <figure><a class="" href="#"><img src="{% static 'images/demo/administracion.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Importancia de la administración en la unidad informática y su función en Guardería Khamadi</h6>
              <div>
                <p>Este plantel carece de una unidad informática en sus áreas de función, sin embargo, se cuenta con un servicio de mantenimiento externo para el correcto funcionamiento de dos pc de escritorio, una red de video cámaras de vigilancia con 10 unidades y un servicio de telefonía con internet, por lo cual se califica ineficiente ya que dicha persona encargada del mantenimiento solo acude cuando es muy requerido.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/demo/funcion.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">La función informática como ventaja competitiva en las organizaciones</h6>
              <div>
                <p>Una gran deficiencia del área informática de una empresa es que por lo general esta se mantiene aislada de los objetivos de la empresa, y esto evita que casi nunca esta área pueda actuar de manera oportuna. Podemos concluir que la informática es un factor determinante durante el ciclo competitivo de una empresa. La informática se puede aprovechar para casi cualquier área, siempre y cuando se esté preparado para hacerlo</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/demo/ti.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">TI actuales aplicables a la función informática</h6>
              <div>
                <p>En el giro educativo. Cada vez son más las guarderías y escuelas infantiles que utilizan diferentes herramientas TIC en sus actividades diarias con niños de 0 a 5 años, los cuales, a diferencia de sus padres, son nativos digitales.</p>
                <p>En la organización. La tecnología y el uso de plataformas tecnológicas representan una oportunidad estratégica para las áreas infantiles porque ayudan a analizar los datos, permiten comunicación oportuna 24/7, mejoran la gestión de procesos, facilitan el control de labores administrativas y operativas, además de que analizan el cumplimiento de metas y objetivos organizacionales de forma constante, entre otros beneficios.</p>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
</div>
  </main >



    </section>

  <div class="bgded overlay row4" style="background-image:url('{% static 'images/demo/backgrounds/arfi.png' %}');">
    <footer id="footer" class="hoc clear">
      <div class="center btmspace-50">
        <h6 class="heading">GRACIAS </h6>

        <p class="nospace">POR SU ATENCIÓN</p>
      </div>


    </footer>
  </div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>